extend ../layouts/main-layout.pug
block styles 
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/product.css")
block content 
  main
  form.product-form(action='/admin/edit-product' method='POST' enctype="multipart/form-data")
    if errorMessage 
      div.flash #{errorMessage}
    input(type="hidden" name="_csrf" value=csrfToken)
    .form-control
      label(for='title') Title
      input#title(type='text', name='title', value=oldData ? oldData.title : product.title )
    .form-control
      label(for='image') Image 
      input#imageUrl(type='file', name='image')
    .form-control
      label(for='price') Price
      input#price(type='number', name='price', step='0.01', value=oldData ? oldData.price :product.price)
    .form-control
      label(for='description') Description
      textarea#description(name='description', rows='5') #{oldData ? oldData.description : product.description}
    input(type="hidden", value=product._id, name='productId')
    button.btn(type='submit') Save Product